<div class="completeContact">
  <img src="../../../assets/img/mariachiContact1.JPG" alt="">
  <h1 class="title">CONTACTENOS</h1>


  <div class="container">

      <label for="fname">Nombre</label>
      <input type="text" id="fname" name="name" placeholder="Ingrese su nombre..">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Ingrese su email..">

      <label for="comuna">Comuna</label>
      <select id="comuna" name="comuna">
        <option value="Antofagasta">Antofagasta</option>
        <option value="Calama">Calama</option>
        <option value="Tocopilla">Tocopilla</option>
        <option value="Mejillones">Mejillones</option>
        <option value="usa">Maria Elena</option>
        <option value="usa">Taltal</option>
        <option value="usa">Sierra Gorda</option>
        <option value="usa">San Pedro de Atacama</option>
        <option value="usa">Ollagüe</option>
        <option value="usa">Otra Region</option>
      </select>

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Escribanos algo.." style="height:200px"></textarea>

      <div class="btn submit">
        <span class="tooltip">GRACIAS <span class="iconify" data-icon="fluent-emoji:check-mark-button" style="color: green;"></span></span>
        <span>
            Enviar
        </span>
    </div>
  </div>
  <button>
    <span>Conoce Nuestros Planes</span>
  </button>
  <img src="../../../assets/img/logo2.png" alt="">
<app-footer></app-footer>
</div>
