<div class="completeAboutUs">
  <img src="../../../assets/img/mariachiAbout.JPG" alt="">
  <p>Somos un grupo ubicado en Antofagasta-Chile, que presta servicios de mariachi desde el 2020.</p>
  <div class="repertorio">
    <h1>Contamos con un amplio repertorio musical</h1>
  </div>
  <p>Nuestros servicios son usados en:
    <li>Bodas <span class="iconify" data-icon="noto-v1:wedding"></span></li>
    <li>15 años <span class="iconify" data-icon="emojione-monotone:birthday-cake"></span></li>
    <li>Serenatas <span class="iconify" data-icon="twemoji:musical-notes"></span></li>
    <li>Bautizos <span class="iconify" data-icon="fluent-emoji:church"></span></li>
    <li>Eventos empresariales <span class="iconify" data-icon="game-icons:team-idea"></span></li>
    <li>Reuniones <span class="iconify" data-icon="ic:outline-groups-2"></span></li>
    <li>Celebraciones <span class="iconify" data-icon="noto:party-popper"></span></li>
    <li>Cuempleaños <span class="iconify" data-icon="emojione:birthday-cake"></span></li>
    <li>Eventos Sociales <span class="iconify" data-icon="healthicons:social-distancing-outline"></span></li>
    </p>
  <button>
    <span>Conoce Nuestros Planes</span>
  </button>
  <h1 class="title">Conoce A Tu Mariachi</h1>
  <div class="mariachis">
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/eric.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Eric J Flores</span>
          <span class="job">Guitarra</span>
      </div>
    </div>
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/carlos.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Carlos Useche</span>
          <span class="job">Guitarron</span>
      </div>
    </div>
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/jesus.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Jose Jesus Niño</span>
          <span class="job">Trompeta</span>
      </div>
    </div>
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/simon.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Simon Cardenas</span>
          <span class="job">Voz</span>
      </div>
    </div>
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/freddy.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Freddy Largo</span>
          <span class="job">Guitarra</span>
      </div>
    </div>
    <div class="card">
      <div class="img img1"><img src="../../../assets/img/fredyadarmes.JPG" alt=""></div>
      <div class="img img2"></div>
      <div class="card__content">
          <span class="name">Freddy Adarmes</span>
          <span class="job">Trompeta</span>
      </div>
    </div>
  </div>

<app-footer></app-footer>

</div>
